/* toastStyles.css */

.Toastify__toast {
  border-radius: 8px;
  padding: 16px;
  font-family: Arial, sans-serif;
}

.Toastify__toast--success {
  background-color: #4caf50; /* Green */
  color: white;
}

.Toastify__toast--error {
  background-color: #f44336; /* Red */
  color: white;
}

.Toastify__toast-body {
  font-size: 16px;
}
